.form-control,
.form-select{
  background-color: rgba(255, 255, 255, .2);
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--bs-dark);

  &:focus {
    background-color: rgba(255, 255, 255, .8);
    border-color: var(--bs-primary);
    box-shadow: none;
  }
}
