@import '~bootstrap/scss/mixins/breakpoints';

.lead {
  font-weight: var(--bs-body-font-weight);
}


#map {
  height: 50vh;
  z-index: 3;
  position: relative;
  top: calc(0px - var(--section-padding));

  @include media-breakpoint-up("md") {
    position: absolute !important;
    top: 0;
    left: 0;
    right: calc(50% + 1rem);
    bottom: 0;
    height: auto;
  }
}

#gridContainer {
  position: relative;
}

#gridContainer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.8);
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
